  

 <div data-bb-type="screen" data-bb-effect="fade">
    <div class="header" onclick="goHome()" style="margin-top:5px;" title="click for HOME"><span class="ui-btn1 ui-btn-icon-left ui-icon-arrow-l"></span></div>
        <div data-type="round-panel">
              <div data-bb-type="label" >DWS Hybrid App</div>
            <div data-bb-type="label" id="cur_version">version</div>
            <div data-bb-type="label">iGain/ExcellentApps</div>
            <div data-bb-type="label"><hr/></div>
            <div data-bb-type="label">Support:</div>
            <div data-bb-type="label" >083 263 6063</div>
      <hr />
            <div data-bb-type="label" >Staff found:</div>
            <div data-bb-type="label" id="staff_found"></div>
            <div data-bb-type="label">Active User:</div>
            <div data-bb-type="label" id="active_user"></div>
        </div>
   
     <div data-bb-type="button" style="width:60%;" onclick="checkUpdate();"><span class="butt icon-check"></span>Check for Updates</div>
     <div data-bb-type="button" style="width:40%;" onclick="goHome();"><span class="butt icon-cancel"></span>Close</div>
</div>