

    <div data-bb-type="screen" >
        <div data-bb-type="header" onclick="goHome()" class="header" title="click for HOME">..back</div>
        <div id="div_confirm_master_detail"></div>
        <strong>Please Confirm the Qty's Collected</strong>
        <div data-bb-type="round-panel" id="div_Confirm_WS">

            <div id="div_confirm_items" class="photo_container"></div>
            <div data-bb-type="button" style="width:50%;" onclick="confirm_ws_photo('ws')"><span class="butt icon-photos"></span>White Slip</div>
            <div data-bb-type="button" style="width:50%;" onclick="confirm_ws_photo('sp')"><span class="butt icon-photos"></span>SP Doc</div>

            <div data-bb-type="label-control-horizontal-row" data-bb-style="stretch">
                <div id="slip_container" class="photo_container"></div>

            </div>
        </div> 
        <div class="btm_buttons" id="bot_butt">
            <div data-bb-type="button" style="width:50%;" onclick="confirmCollOrder();"><span class="butt icon-check"></span>Accept</div>
            <div data-bb-type="button" style="width:50%;" onclick="goHome();"><span class="butt icon-cancel"></span>Cancel</div>
        </div> 
        </div>
       





           


