
<div data-role="screen" id="menu_page">


    <!--   <div  id="menu_photos" class="menu" style="background-image: url(images/icons/cam.png)" onclick="do_menu_nav('sites.htm', 'TakePhoto')"  >Photo's</div>

       <div  id="menu_msg" class="menu" data-role="button" style="background: url('images/icons/msg.png')" onclick="do_menu_nav('messaging.htm', 'Messaging')">Messages</div>

      <div  name="menu_no" class="menu"  style="background: url('images/icons/neworder')" onclick="do_menu_nav('sites.htm', 'new_order')">New Order</div> -->
    <div class="pure-u-1">
        <div class="pure-u-1-" style="background: url('images/icons/cam.png') no-repeat;" onclick="do_menu_nav('sites.htm', 'TakePhoto')"><p>Photos</p></div>
        <div class="pure-u-1-2" style="background: url('images/icons/msg.png') no-repeat;" onclick="do_menu_nav('messaging.htm', 'Messaging')"><p>Messages</p></div>
    </div>
</div>





<script type="text/javascript" charset="utf-8">
    function onDeviceReady() {
    var ref = window.open('http://localhost:53429/moreInfo.aspx?ID_JOB=46121', '_blank', 'location=yes');

    }
</script>
