

<div data-type="screen" style="width:100%; height:100%">

    <div onclick="goHome()" class="header" title="click for HOME"><span class="ui-btn1 ui-btn-icon-left ui-icon-arrow-l"></span></div>

    <div data-type="scroll-panel" data-scroll-effect="on" style="margin:0px;padding:0px;">


        <div  class="divsites" id="div_sites2"></div>
    </div>
   <!-- <div data-type="menu">
        <div data-type="menu-item" data-selected="true" onclick="goHome();">Menu</div>

        <div data-type="menu-separator"></div>
        <div data-type="menu-item" onclick="sync_all()">Synchronise</div>

        <div data-type="menu-separator"></div>
        <div data-type="menu-item" onclick="showAbout();">About</div>
        <div data-type="menu-item" onclick="Options()">Settings</div>
        <div data-type="menu-item" onclick="mcloseApp()">EXIT</div>
    </div> -->
</div>

<script type="text/javascript">

    site_list_two(2);


</script>




