

    <div  >
     
        <div onclick="goHome()" class="header" title="click for HOME"><span class="ui-btn1 ui-btn-icon-left ui-icon-arrow-l"></span></div>
           
        <div data-bb-type="scroll-panel" data-bb-scroll-effect="on" style="margin:0px;padding:0px;">


            <div class="divsites" id="div_sites3"></div>
        </div>
       <!-- <div data-bb-type="menu" id="side-menu">
            <div data-bb-type="menu-item" data-bb-selected="true" onclick="goHome();">Menu</div>
          
            <div data-bb-type="menu-separator"></div>
            <div data-bb-type="menu-item" onclick="sync_all()">Synchronise</div>
           
            <div data-bb-type="menu-separator"></div>
            <div data-bb-type="menu-item" onclick="showAbout();">About</div>
            <div data-bb-type="menu-item" onclick="Options()">Settings</div>
            <div data-bb-type="menu-item" onclick="mcloseApp()">EXIT</div>
        </div> -->
        </div>
          

           
<script type="text/javascript">

    site_list_three(3);


</script>

